    <footer class="footer">
        <div class="container">
        <h3 class="h6 text-center">2019 - Desenvolvido pela <a href="https://7sight.com.br/" class="footer__link--cor">7Sight</a></h3>
        </div>
    </footer>