<div class="funcionalidades" id="funcionamento" >
        <div class="text-center">
            <h2 class="text-danger funcionalidade-font">Funcionalidades</h2>
        </div>
        <div class="container funcionalidades__container--color">
            
            <div class="row">
                <div class="col-md-5 funcionalidades__caract--borda">
                    <h3 class="text-danger text-center">Caracteristicas</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><h3>Leitores</h3><p>Proximidade, leitor Facial e Biometria</p></li>
                                <li><h3>Comunicação</h3><p>Serial TCP/IP nativo, Wi-Fi e Local</p></li> 
                                <li><h3>Usuário</h3><p>Capacidade para gerenciar até 16 mil matrículas</p></li> 
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><h3>Braços</h3><p>Com recursos Anti-Backpass</p></li>
                                <li><h3>Web Server</h3><p>Configuração instalado no equipamento</p></li> 
                                <li><h3>Memória</h3><p>Capacidade para armazenar até 65 mil eventos</p></li> 
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <img src="../../assets/images/funcCatracas.png" alt="Funcionalidades Catraca" class="img-fluid">
                </div>
            </div>
        </div>
    </div>