    <header>
        <h2 class="banner__frase banner__frase--color">
            O melhor preço com a melhor qualidade.
        </h2>
        <img src="../../assets/images/catracas2.png" alt="Catracas" legend="catracas" class="banner__img img-fluid">
        <!--Arrumar referência-->
    </header>