<div class="contato" id="contact">
        <div class="container"  >
            <div class="text-center">
                <h2 class="text-danger contato-font">Contato</h2>
                <p class="text-danger">Entre em contato e solicite seu orçamento</p>
            </div>
            <div class="row">
                <form class="col-md-5">
                    <div class="form-group">
                            <label for="formGroupExampleInput" class="text-danger">Nome</label>
                            <input type="text" class="form-control border border-danger" id="formGroupExampleInput" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="text-danger">Email</label>
                        <input type="email" class="form-control border border-danger" id="exampleFormControlInput1" placeholder="nome@dominio.com">
                    </div>
                    <div class="form-group">
                            <label for="formGroupExampleInput" class="text-danger">Telefone</label>
                            <input type="texte" class="form-control border border-danger" id="formGroupExampleInput" placeholder="Número">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="text-danger">Mensagem</label>
                        <textarea class="form-control border border-danger" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button class="btn btn-outline-danger col-md-4 offset-md-4 contato__btn" type="submit">Enviar</button>
                </form>

                <div class="col-md-2"></div>

                <div class="col-md-5 ">
                    <h2 class="text-danger text-center">Dados</h2>
                    <p class="text-danger text-center">+55 61 9 9999-9999 </p>
                    <p class="text-danger text-center">orcamento@catracamaster.com</p><br>
                    <p class="text-danger text-center">SCS XX Bloco Y Sala Z - Asa Sul</p>
                    <p class="text-danger text-center">Brasília - DF</p><br>
                    <h3 class="text-danger text-center">Redes Sociais</h3>
                    <div class="contato__icon--position">
                        <a href="#"><img src="../../assets/images/iconFace.png" alt="Facebook"></a>
                        <a href="#"><img src="../../assets/images/iconInsta.png" alt="Instagran"></a>
                        <a href="#"><img src="../../assets/images/iconTw.png" alt="Twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div class="contato">